<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8">
    <title>Complete My Recipe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% block style %}
    {% endblock style %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  </head>

  <body>
    <div id="header">
      <div id="homeicon">
        <a href="/">Complete My Recipe</a>
      </div>
      <span>
        by: Joel Tengco, Steven Marrero, Albert Hwuang, Richard Houth <br>
        <a href="https://github.com/clovenski/complete-my-recipe">GitHub</a>
      </span>
    </div>
    {% block content %}
    {% endblock content %}
  </body>
</html>
