<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8">
    <title>Complete My Recipe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  </head>

  <body>
    <h1 id="header_id">Complete my recipe</h1><br>
    <form>
      Search ingredient:<br>
      <input type="text" food="ingredient"><br>
    </form>
    <br>
    <h3>Protein</h3>
    <select id = "proteinList">
      <option value = "1">Beef</option>
      <option value = "2">Chicken</option>
      <option value = "3">Pork</option>
      <option value = "4">Eggs</option>
    </select>
    <button>Add</button>
    <br>
    <h4>Grain</h4>
    <select id = "grainList">
      <option value = "1">Bread</option>
      <option value = "2">Corn</option>
      <option value = "3">Oat</option>
      <option value = "4">Rice</option>
    </select>
    <button>Add</button>
    <br>
    <h4>Fruit</h4>
    <select id = "fruitList">
      <option value = "1">Apple</option>
      <option value = "2">Mango</option>
      <option value = "3">Orange</option>
      <option value = "4">Watermelon</option>
    </select>
    <button>Add</button>
    <br>
    <h4>Vegetables</h4>
    <select id = "veggieList">
      <option value = "1">Cucumber</option>
      <option value = "2">Potato</option>
      <option value = "3">Brocoli</option>
      <option value = "4">Spinach</option>
    </select>
    <button>Add</button>
    <br>
    <br>
    <button><h2>Save search</h2></button>
    <button id="searchButton" onclick="executeSearch()"><h2>Find recipe</h2></button>

    <div id="userIngredients"></div>

    <form>Ingredient name: <input type="text" onkeyup="searchIngredient(this.value)"></form>
    <div>
      <p id="suggestions">Suggestions pop up here.</p>
    </div>

    <script src="{% static 'scripts/main.js' %}"></script>
  </body>
</html>
