{% extends 'base.html' %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'styles/list_recipes.css' %}">
{% endblock style %}

{% block content %}
  <table>
    <tr>
      {% if recipe_list.0.missing %}
        <th>Missing Ingredients</th>
      {% endif %}
      <th>Recipe</th>
    </tr>
    {% for recipe in recipe_list %}
    <tr>
      {% if recipe.missing %}
        <td>{{ recipe.missing }}</td>
      {% endif %}
      <td style="text-align:left"><a class="recipe" href="/data/recipes/{{ recipe.id }}/{% if search_params %}?params={{ search_params }}{% endif %}">{{ recipe.name }}</a></td>
    </tr>
    {% endfor %}
  </table>

  {% if pagination %}
  <div class="pagination">
    <span class="pagination_links">
      {% if recipe_list.has_previous %}
        <a class="paginationlink" href="?page=1{% if search_params %}&ingredients={{ search_params }}{% endif %}">&laquo; first</a>
        <a class="paginationlink" href="?page={{ recipe_list.previous_page_number }}{% if search_params %}&ingredients={{ search_params }}{% endif %}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ recipe_list.number }} of {{ recipe_list.paginator.num_pages }}.
      </span>

      {% if recipe_list.has_next %}
        <a class="paginationlink" href="?page={{ recipe_list.next_page_number }}{% if search_params %}&ingredients={{ search_params }}{% endif %}">next</a>
        <a class="paginationlink" href="?page={{ recipe_list.paginator.num_pages }}{% if search_params %}&ingredients={{ search_params }}{% endif %}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
  {% endif %}

  <script src="{% static 'scripts/list_recipes.js' %}"></script>
{% endblock content %}