<html>
  {% load static %}
  <head>
    <title>Complete My Recipe</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  </head>
  <body>
    <ul id="recipe_list">
      {% for recipe in recipe_list %}
      <li>
        <a href="/data/recipes/{{ recipe.id }}/{% if search_params %}?params={{ search_params }}{% endif %}">{{ recipe.name }}</a>
        {% if recipe.missing %}
        - missing: {{ recipe.missing }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    <script src="{% static 'scripts/list_recipes.js' %}"></script>
  </body>
</html>