<html>
  {% load static %}
  <head>
    <title>Complete My Recipe</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  </head>
  <body>
    <h2 id="name">{{ name }}</h2>
    <p id="num_ingreds">Number of ingredients: {{ num_ingreds }}</p>
    <p id="ingredients">Ingredients: <br>
      {% for ingred in ingredients %}
        {{ ingred }}<br>
      {% endfor %}
    </p>
    <p id="instructions">Instructions: {{ instructions }}</p>

    {% if search_params %}
    <a href="/data/recipes/?ingredients={{ search_params }}">Return to list</a>
    {% else %}
    <a href="/data/recipes/">Return to list</a>
    {% endif %}
    <br>
    <a href="{% url 'home' %}">Return to home</a>
    <script src="{% static 'scripts/view_recipe.js' %}"></script>
  </body>
</html>