{% extends 'base.html' %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'view_recipe.css' %}">
{% endblock style %}

{% block content %}
  <span><b id="name">{{ name }}</b></span>
  <p id="num_ingreds"><u>Number of ingredients:</u> {{ num_ingreds }}</p>
  <p id="ingredients"><u>Ingredients:</u>
    <div id="ingred_list">
      {% for ingred in ingredients %}
        {{ ingred }}<br>
      {% endfor %}
    </div>
  </p>
  <p id="instructions"><u>Instructions:</u><div>{{ instructions }}</div></p>

  <div id="links">
    {% if search_params %}
      <a class="link" href="/data/recipes/?tolerance={{ tolerance }}&ingredients={{ search_params }}">Return to list</a>
    {% else %}
      <a class="link" href="/data/recipes/?tolerance={{ tolerance }}">Return to list</a>
    {% endif %}
    <a class="link" href="{% url 'home' %}">Return to home</a>
  </div>

  <script src="{% static 'view_recipe.js' %}"></script>
{% endblock content %}