body {
    text-align: center;
}

#userlist {
    padding: 20px;
}

#input {
    padding: 10px;
}

/* #search {
    padding: 15px;
} */

.suggestion:hover {
    color: green;
}

.userIngredient:hover {
    color: red;
}

#searchButton {
    background-color: lightblue;
    border: 1px solid black;
    padding: 15px;
    margin: 10px;
    font-size: 16px;
}

#searchButton:enabled:hover {
    background-color: lightskyblue;
    cursor: pointer;
}