body {
    text-align: center;
}

#userlist {
    padding: 20px;
}

#input {
    padding: 10px;
}

#search {
    padding: 15px;
}

.suggestion:hover {
    color: green;
}

.userIngredient:hover {
    color: red;
}