#name {
    background-color: lightblue;
    font-size: 30px;
}

#links {
    margin-top: 50px;
    margin-bottom: 50px;
}

.link {
    text-decoration:none;
    background-color: lightblue;
    color: black;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.link:hover {
    background-color: lightskyblue;
}